.section-newinfo{
    width: 100%;
    background: #EDE4D5;
    padding: 100px 0;
}
.section-newinfo .container{
    width: 1200px;
    margin: 0 auto;
}
.section-newinfo .container h2{
    font-size: 48px;
    font-weight: bold;
    color: #DBA33C;
    text-align: center;
    border-bottom: 3px solid #DBA33C ;
    padding-bottom: 50px;
}
.section-newinfo .container .info{
    width: 100%;
    display: flex;
    padding-top: 50px;
}
.section-newinfo .container .info .pic-group{
    width: 40%;
    display: flex;
    border-right: 3px solid #352D21;
    position: relative;
}
.section-newinfo .container .info .pic-group .pic{
    width: 40%;
    padding: 0 30px;
}
.section-newinfo .container .info .pic-group .pic img{
    width: 100%;
    vertical-align: middle;
}
.section-newinfo .container .info .pic-group .pic:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
}
.section-newinfo .container .info .pic-group .pic:nth-child(2){
    position: absolute;
    bottom: 0;
    right: 0;
}
.section-newinfo .container .info nav{
    width: 55%;
}
.section-newinfo .container .info nav .content{
    width: 100%;
    display: block;
}
.section-newinfo .container .info nav .content .title{
    color: #352D21;
    display: block;
    padding: 20px 0 20px ;
    margin-left: 70px;
    border-bottom: 3px solid #352D21;
    position: relative;
}
.section-newinfo .container .info nav .content .title span{
    font-size: 16px;
}
.section-newinfo .container .info nav .content .title .button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-newinfo .container .info nav .content .title .button h3{
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
}
.section-newinfo .container .info nav .content .title .button span{
    font-size: 25px;
    color: #DBA33C;
    position: absolute;
    right: 0;
    bottom: 40px;
    transition: 1s
}
.section-newinfo .container .info nav .content .title .txt{
    line-height: 32px;
    width: 80%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s
}
.section-newinfo .container .info nav .content .title .btn{
    display: none;
}
.section-newinfo .container .info nav .content .title .btn:checked + .button + .txt{
    max-height: 400px;
    transition: max-height 1s
}
.section-newinfo .container .info nav .content .title .btn:checked + .button > span{
    position: absolute;
    bottom: 10px;
    right: 0;
    scale: 1 -1;
    transition: 1s
}

@media screen and (max-width:768px) {
    .section-newinfo{
        padding: 50px 0;
    }
    .section-newinfo .container{
        width: 80%;
        margin: 0 auto;
    }
    .section-newinfo .container h2{
        font-size: 24px;
        border-bottom: 2px solid #DBA33C ;
        padding-bottom: 25px;
    }
    .section-newinfo .container .info{
        width: 100%;
        display: flex;
        padding-top: 25px;
    }
    .section-newinfo .container .info .pic-group{
        display: none;
    }
    .section-newinfo .container .info nav{
        width: 100%;
        margin: 0 auto;
    }
    .section-newinfo .container .info nav .content{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .section-newinfo .container .info nav .content .title{
        color: #352D21;
        display: block;
        padding: 20px 0 20px ;
        margin-left: 0;
        border-bottom: 2px solid #352D21;
        position: relative;
    }
    .section-newinfo .container .info nav .content .title span{
        font-size: 16px;
    }
    .section-newinfo .container .info nav .content .title .button{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .section-newinfo .container .info nav .content .title .button h3{
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0;
    }
    .section-newinfo .container .info nav .content .title .button span{
        font-size: 25px;
        color: #DBA33C;
        position: absolute;
        right: 0;
        bottom: 40px;
        transition: 1s
    }
    .section-newinfo .container .info nav .content .title .txt{
        line-height: 32px;
        width: 80%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.7s
    }
    .section-newinfo .container .info nav .content .title .btn{
        display: none;
    }
    .section-newinfo .container .info nav .content .title .btn:checked + .button + .txt{
        max-height: 400px;
        transition: max-height 1s
    }
    .section-newinfo .container .info nav .content .title .btn:checked + .button > span{
        position: absolute;
        bottom: 10px;
        right: 0;
        scale: 1 -1;
        transition: 1s
    }
}

@media screen and (max-width:430px) {
    .section-newinfo{
        padding: 30px 0;
    }
    .section-newinfo .container h2{
        font-size: 20px;
        border-bottom: 2px solid #DBA33C ;
        padding-bottom: 20px;
    }
    .section-newinfo .container .info{
        width: 100%;
        display: flex;
        padding-top: 20px;
    }
    .section-newinfo .container .info nav{
        width: 100%;
        margin: 0 auto;
    }
    .section-newinfo .container .info nav .content .title{
        padding-bottom: 10px;
    }

    .section-newinfo .container .info nav .content .title .button{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .section-newinfo .container .info nav .content .title .button h3{
        font-size: 16px;
        font-weight: 600;
        margin: 20px 0;
    }
    .section-newinfo .container .info nav .content .title .button span{
        font-size: 20px;
        color: #DBA33C;
        position: absolute;
        right: 0;
        bottom: 25px;
        transition: 1s
    }
    .section-newinfo .container .info nav .content .title .txt{
        line-height: 32px;
        width: 80%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.7s
    }
    .section-newinfo .container .info nav .content .title .btn{
        display: none;
    }
    .section-newinfo .container .info nav .content .title .btn:checked + .button + .txt{
        max-height: 400px;
        transition: max-height 1s
    }
    .section-newinfo .container .info nav .content .title .btn:checked + .button > span{
        position: absolute;
        bottom: 10px;
        right: 0;
        scale: 1 -1;
        transition: 1s
    }
}