.section-about{
    width: 100%;
    padding: 100px 0;
    background-color: #20201C;
}

.section-about .container{
    width: 1200px;
    margin: 0 auto;
}
.section-about .card-group{
    width: 100%;
    display: flex;
    flex-grow: 1;
}
.section-about .card-group .card-pic{
    width: 100%;
}
.section-about .card-group .card-pic img{
    width: 100%;
    vertical-align: middle;
}
.section-about .card-group .card{
    width: 100%;
    padding: 15px;
    margin: 0 15px;
    font-size: 18px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-about .card-group .card span{
    font-weight: 600;
}
.section-about .card-group .card h2{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 15px 0 30px;
}
.section-about .card-group .card p{
    margin-bottom: 40px;
    text-align: center;
    line-height: 40px;
}
.section-about .card-group .card a{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    background-color: #DBA33C;
}
.section-about .card-group .card a span{
    margin-left: 10px;
    vertical-align: text-top;
}
.section-about .card-group .card a:hover{
    transform: scale(1.05);
}

@media screen and (max-width:768px) {
    .section-about{
        padding: 50px 0;
    }

    .section-about .container{
        /* width: 62.5%; */
        width: 80%;
    }
    
    .section-about .card-group .card{
        width: 100%;
        padding: 5px;
        margin: 0 15px;
        font-size: 12px;
    }
    .section-about .card-group .card h2{
        font-size: 20px;
        margin: 10px 0 15px;
    }
    .section-about .card-group .card p{
        margin-bottom: 20px;
        text-align: center;
        line-height: 30px;
    }
    .section-about .card-group .card a{
        text-decoration: none;
        color: white;
        padding: 10px 15px;
        background-color: #DBA33C;
    }
    .section-about .card-group .card a span{
        margin-left: 5px;
        vertical-align: text-top;
    }
    .section-about .card-group .card a img{
        width: 8px;
        height: 8px;
    }

}
