.section-entertainment{
    width: 100%;
    display: flex;
    justify-content: end;
}
.section-entertainment .card{
    width: 30%;
    background-color: rgb(255, 255, 255 , .6);
    font-size: 18px;
    color: #352D21;
    padding: 100px 150px 100px 30px;
}
.section-entertainment .card span{
    font-weight: 600;
    font-size: 18px;
    padding-left: 10px;
}
.section-entertainment .card h2{
    font-size: 40px;
    font-weight: bold;
    margin: 15px 0 30px;
}
.section-entertainment .card p{
    margin-bottom: 30px;
    line-height: 40px;
    padding-right: 70px;
}
.section-entertainment .card a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    background-color: #DBA33C;
    transition: transform 0.2s ease;
}
.section-entertainment .card a span{
    font-size: 18px;
    margin-left: 10px;
}
.section-entertainment .card a:hover{
    transform: scale(1.05) ;
    transition: transform 0.2s ease;
}

@media screen and (max-width:768px) {
    .section-entertainment .card{
        width: 30%;
        background-color: rgb(255, 255, 255 , .6);
        font-size: 12px;
        padding: 30px 75px 30px 30px;
    }
    .section-entertainment .card span{
        font-size: 12px;
        padding-left: 5px;
    }
    .section-entertainment .card h2{
        font-size: 20px;
        margin: 0 0 15px;
    }
    .section-entertainment .card p{
        margin-bottom: 20px;
        line-height: 30px;
        padding-right: 40px;
    }
    .section-entertainment .card a{
        padding: 10px 15px;
    }
    .section-entertainment .card a span{
        margin-left: 5px;
    }
    .section-entertainment .card a span img{
        width: 8px;
        height: 8px;
    }
}

@media screen and (max-width:430px) {
    .section-entertainment .card{
        width: 100%;
        background-color: rgb(255, 255, 255 , .6);
        font-size: 12px;
        padding: 50px;
        margin: 0 auto;
    }
    .section-entertainment .card span{
        font-size: 12px;
        padding-left: 5px;
    }
    .section-entertainment .card h2{
        font-size: 20px;
        margin: 0 0 15px;
    }
    .section-entertainment .card p{
        margin-bottom: 20px;
        line-height: 30px;
        padding-right: 20px;
    }
    .section-entertainment .card a{
        padding: 10px 20px;
    }
    .section-entertainment .card a span{
        margin-left: 5px;
    }
    .section-entertainment .card a span img{
        width: 10px;
        height: 10px;
    }
}