.section-entertainment{
    width: 100%;
    background-image: url(img/index/entertainment-background.jpg);
    vertical-align: middle;
    display: flex;
    justify-content: end;
}
.section-entertainment .card{
    width: 30%;
    background-color: rgb(11, 22, 26,.5);
    font-size: 24px;
    color: rgb(255, 255, 255);
    padding: 100px 150px 100px 30px;
    letter-spacing: 5px;
}
.section-entertainment .card span{
    font-weight: 600;
}
.section-entertainment .card h2{
    font-size: 48px;
    font-weight: bold;
    color: #F84817;
    margin: 15px 0 50px;
}
.section-entertainment .card p{
    margin-bottom: 40px;
    line-height: 40px;
}
.section-entertainment .card a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    background-color: #F84817;
}
.section-entertainment .card a span{
    margin-left: 10px;
    vertical-align: text-top;
}