footer{
    width: 100%;
    height: 200px;
    background-color: #752E18;
}
footer .container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    align-content: center;
}
footer .container .footer-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
footer .container .footer-item .logo{
    width: 200px;
}
footer .container .footer-item .logo img{
    width: 100%;
    vertical-align: middle;
}
footer .container .meun .meun-item{
    display: flex;
}
footer .container .meun .meun-item li{
    margin: 0 35px 0 0;
    display: flex;
}
footer .container .meun .meun-item li .icon{
    height: 20px;
    margin-right: 10px;
}
footer .container .meun .meun-item li .icon img{
    height: 100%;
}
footer .container .meun .meun-item li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
footer .container .footer-item .community{
    display: flex;
}
footer .container .footer-item .community .community-icon + .community-icon{
    margin-left: 10px;
}
footer .container span{
    font-size: 16px;
    color: white;
    display: block;
    text-align: center;
}