footer{
    width: 100%;
    background-color: #090902;
}
footer .container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 40px 0 20px;
    align-content: center;
}
footer .container h2{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
footer .container span{
    display: block;
    font-size: 14px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
footer .container .footer-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .container .footer-item .logo{
    width: 150px;
}
footer .container .footer-item .logo img{
    width: 100%;
    vertical-align: middle;
}
footer .container .footer-item .info{
    color: white;
    line-height: 26px;
    font-size: 16px;
}
footer .container .footer-item .icon-group{
    margin: auto 0;
}
footer .container .footer-item .icon-group .icon{
    display: inline-block;
    height: 30px;
    margin-right: 5px;
}
footer .container .footer-item .icon-group .icon img{
    height: 100%;
    vertical-align: middle;
}

@media screen and (max-width:768px) {
    footer .container{
        width: 80%;
    }
    footer .container h2{
        font-size: 20px;
    }
    footer .container .footer-item {
        display: flex;
        flex-wrap: wrap;
    }
    footer .container .footer-item .logo{
        width: 120px;
    }
    footer .container .footer-item .logo img{
        width: 100%;
        vertical-align: middle;
    }
    footer .container .footer-item .info{
        line-height: 16px;
        font-size: 12px;
    }
    footer .container .footer-item .icon-group{
        margin: auto 0;
    }
    footer .container .footer-item .icon-group h2{
        margin-bottom: 15px;
    }
    footer .container .footer-item .icon-group .icon{
        height: 20px;
        margin-right: 8px;
    }
    footer .container .footer-item .icon-group .icon img{
        height: 100%;
        vertical-align: middle;
    }
    
}

@media screen and (max-width:430px) {
    footer .container{
        width: 80%;
        padding: 25px 0 15px;
    }
    footer .container h2{
        font-size: 20px;
    }
    footer .container .footer-item {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }
    footer .container .footer-item .logo{
        width: 150px;
    }
    footer .container .footer-item .logo img{
        width: 100%;
        vertical-align: middle;
    }
    footer .container .footer-item .info{
        width: 100%;
        line-height: 16px;
        font-size: 12px;
        margin:20px 0;
    }
    footer .container .footer-item .info p + p{
        margin-top: 5px; 
    }
    footer .container .footer-item .icon-group{
        margin: auto 10px auto 0;
        
    }
    footer .container .footer-item .icon-group h2{
        margin-bottom: 15px;
    }
    footer .container .footer-item .icon-group .icon{
        height: 20px;
        margin-right: 8px;
    }
    footer .container .footer-item .icon-group .icon img{
        height: 100%;
        vertical-align: middle;
    }
    footer .container span{
        margin-top: 30px;
    }
}