header {
    width: 100%;
    position: relative;
}
header .container{
    width: 100%;
    height: 100px;
    background-color: #090902;
}
header .container .meun{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
header .container .logo{
    width: 250px;
    height: 160px;
    background-color: #090902;
    border: 1px solid #090902;
    border-bottom-left-radius: 12% 20%;
    border-bottom-right-radius: 12% 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 35px;
    z-index: 3;
}
header .container .logo img{
    width: 200px;
}
header .container .meun .meun-item{
    display: flex;
}
header .container .meun .meun-item li{
    margin: 0 35px 0 0;
}
header .container .meun .meun-item li a .icon{
    display: inline-block;
    height:20px;
    margin-right: 3px;
}
header .container .meun .meun-item li a .icon img{
    height: 100%;
    vertical-align: top;
}
header .container .meun .meun-item li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    position: relative;
}
header .container .meun .meun-item li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    background-color: #fff;
    width: 0;
    transition: .3s;
}
header .container .meun .meun-item li a:hover::after{
    width: 100%;
}
