.section-sheet{
    width: 100%;
    background-color: #EDE4D5;
    padding: 100px 0;
}
.section-sheet .container{
    width: 1200px;
    margin: 0 auto;
}
.section-sheet .container h2{
    font-size: 48px;
    font-weight: bold;
    color: #DBA33C;
    letter-spacing: 4px;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 3px solid #DBA33C;
}
.section-sheet .container .card{
    width: 80%;
    display: flex;
    margin:  40px auto 0;
    justify-content:space-evenly;
}
.section-sheet .container .card .sheetinfo{
    width: 400px;
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-sheet .container .card .sheetinfo .info{
    font-size: 16px;
    color: #352D21;
    letter-spacing: 4px;
}
.section-sheet .container .card .sheetinfo .info + .info{
    margin-top: 20px;
}
.section-sheet .container .card .sheetinfo .info label{
    display: block;
}
.section-sheet .container .card .sheetinfo .info label + input{
    margin-top: 10px;
}
.section-sheet .container .card .sheetinfo .info  input{
    width: 200px;
    background-color: #EDE4D5;
    border:1px solid #352D21;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
.section-sheet .container .card .sheetinfo .data{
    width: 30%;
}
.section-sheet .container .card .sheetinfo .info .btn{
    width: 100px;
    height: 30px;
    background-color: #DBA33C;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;

}
.section-sheet .container .card .date{
    width: 50%;
    text-align: center;
}
.section-sheet .container .card .date .pic{
    width: 85%;
    margin: 0 auto;
}
.section-sheet .container .card .date .pic img{
    width: 100%;
    vertical-align: middle;
}
.section-sheet .container .card .date span{
    display: inline-block;
    font-size: 24px;
    color: #352D21;
    font-weight: 600;
    margin-bottom: 10px;
}
.section-sheet .container .card .date span + span{
    margin-left: 20px;
}
.section-sheet .container .card .date .tag span{
    display: inline-block;
    font-size: 16px;
    font-weight: none;
    margin-top: 12px;
}
.section-sheet .container .card .date .tag{
    margin-left: 37px;
    text-align: left;
}
.section-sheet .container .card .date .tag .icon{
    width: 12px;
    height: 12px;
    margin: 0 5px 0 15px;
}
.section-sheet .container .card .date .tag .icon img{
    width: 100%;
    vertical-align:baseline;
}