.section-meun{
    width: 100%;
    padding: 100px 0;
    background-color: #F7F2EF;
}
.section-meun .container{
    width: 1200px;
    margin: 0 auto;
}
.section-meun .container .tag-group{
    width: 100%;
    border-bottom: 3px solid #DBA33C;
    margin-bottom: 30px;
    display: flex;
}
.section-meun .container .tag-group label:hover{
    cursor: pointer;
}
.section-meun .container .tag-group .tag{
    padding: 15px 30px;
    background-color: #DBA33C;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-right: 10px;
}
.section-meun .container input{
    display: none;
}
.section-meun .container input:checked + .card-group{
    display: block;
}
.section-meun .container input:not(:checked) + .card-group{
    display: none;
}

.section-meun .container .tag-group .tag h2{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.section-meun .container .card-group{
    width: 100%;
    display: flex;
    flex-grow: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    display: none;
}
.section-meun .container .card-group .card{
    width: 30%;
}
.section-meun .container .card-group .card .pic{
    width: 100%;
}
.section-meun .container .card-group .card .pic:hover{
    cursor: pointer;
}
.section-meun .container .card-group .card .pic img{
    width: 100%;
    vertical-align: middle;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.section-meun .container .card-group .card .pic .hot{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.section-meun .container .card-group .card .pic .hot img{
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
}
.section-meun .container .card-group .card .txt{
    text-align:center;
    color: #352D21;
    font-size: 20px;
}
.section-meun .container .card-group .card .txt h3{
    font-weight: 600;
    margin-top: 30px;
}
.section-meun .container .card-group .card .txt p{
    font-size: 16px;
    margin: 16px auto 16px;
    padding: 0 30px;
    line-height: 24px;
}
.section-meun .container .card-group .card .txt span{
    font-weight: 600;
}
#card-3{
    position: relative;
    left: 35%;
    top: 100%;
    z-index: 5;
}
#card-1{
    position:absolute ;
    width: 20%;
    top: 10%;
    left: 0;
    z-index: 1;
    filter: brightness(50%);
}
#card-1 .txt{
    display: none;
}
#card-5{
    position:absolute ;
    width: 20%;
    right: 0;
    top: 10%;
    z-index: 1;
    filter: brightness(50%);
}
#card-5 .txt{
    display: none;
}
#card-2{
    position:absolute ;
    width: 25%;
    top: 5%;
    left: 15%;
    z-index: 2;
    filter: brightness(70%);
}
#card-2 .txt{
    display: none;
}
#card-4{
    position:absolute ;
    width: 25%;
    top: 5%;
    right: 15%;
    z-index: 2;
    filter: brightness(70%);
}
#card-4 .txt{
    display: none;
}
