.section-facility{
    width: 100%;
    padding: 100px 0;
    background-color: #EDE4D5;
}
.section-facility .container{
    width: 1200px;
    margin: 0 auto;
}
.section-facility .container .card-group{
    width: 100%;
    display: flex;
    gap: 1;
}
.section-facility .container .card-group .card{
    background-color: #EDE4D5;
    position: relative;
    margin-bottom: 36px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden; 
}

.section-facility .container .card-group .card .pic{
    width: 100%;
}
.section-facility .container .card-group .card .pic img{
    width: 100%;
    vertical-align: middle;
}
.section-facility .container .card-group .card .txt{
    width: 80%;
    padding: 20px 10px 60px;
    position: absolute;
    left: 7%;
    bottom: 0;
    background-color: #EDE4D5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 0;
    transition: max-height 0.7s, bottom 0.5s;
}
.section-facility .container .card-group .card:hover > .txt {    
    cursor: pointer;
    max-height: 300px; 
    bottom: 0px;
    padding: 20px 10px 20px; 
}
.section-facility .container .card-group .card .txt h3{
    font-size: 20px;
    font-weight: bold;
    color: #DBA33C;    
    margin-bottom: 12px;
}
.section-facility .container .card-group .card .txt  span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #352D21;
    margin-bottom: 40px;
}
.section-facility .container .card-group .card .txt p{
    font-size: 16px;
    line-height: 24px;
    color: #352D21;
}
.section-facility .container .card-group .card .txt p + p{
    margin-top: 20px;
}

