.section-facility{
    width: 100%;
    padding: 100px 0;
    background-color: #EDE4D5;
}
.section-facility .container{
    width: 1200px;
    margin: 0 auto;
}
.section-facility .container .card{
    width: 80%;
    display: flex;
    margin: 0 auto;
}
.section-facility .container .card .pic-group{
    width: 60%;
    display: flex;
}
.section-facility .container .card .pic-group .pic-big{
    width: 80%;
    display: block;
    margin-right: 10px;
}
.section-facility .container .card .pic-group .pic-big img{
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.section-facility .container .card .pic-group .pic-smalls{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.section-facility .container .card .pic-group .pic-smalls .pic-s{
    width: 100%;
}
.section-facility .container .card .pic-group .pic-smalls .pic-s img{
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.section-facility .container .card .txt{
    width: 40%;
    margin:0 10px;
    padding: 0 30px;
    font-size: 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3) , -3px -3px 5px rgba(255, 255, 255, 0.3);
    
    color: #352D21;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-facility .container .card .txt h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}
.section-facility .container .card .txt span{
    margin-bottom: 30px;
    font-size: 20px;
}
.section-facility .container .card .txt p{
    line-height: 30px;
}

@media screen and (max-width:768px) {
    .section-facility{
        padding: 50px 0;
    }
    .section-facility .container{
        width: 80%;
    }
    .section-facility .container .card{
        width: 100%;
    }
    .section-facility .container .card .pic-group{
        width: 60%;
        display: flex;
    }
    .section-facility .container .card .pic-group .pic-big{
        width: 80%;
        display: block;
        margin-right: 10px;
    }
    .section-facility .container .card .pic-group .pic-smalls{
        width: 20%;
        display: flex;
        flex-direction: column;
    }
    .section-facility .container .card .txt{
        width: 40%;
        margin:0 10px;
        padding: 0 30px;
        font-size: 12px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        color: #352D21;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-facility .container .card .txt h2{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .section-facility .container .card .txt span{
        margin-bottom: 15px;
        font-size: 16px;
    }
    .section-facility .container .card .txt p{
        line-height: 24px;
    }
}


@media screen and (max-width:430px) {
    .section-facility{
        padding: 30px 0;
    }
    .section-facility .container{
        width: 80%;
    }
    .section-facility .container .card{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .section-facility .container .card .pic-group{
        width: 100%;
        display: flex;
    }
    .section-facility .container .card .pic-group .pic-big{
        width: 80%;
        display: block;
        margin-right: 10px;
    }
    .section-facility .container .card .pic-group .pic-smalls{
        width: 20%;
        display: flex;
        flex-direction: column;
    }
    .section-facility .container .card .txt{
        width: 100%;
        margin:10px;
        padding: 10px 30px;
        font-size: 12px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        color: #352D21;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-facility .container .card .txt h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .section-facility .container .card .txt span{
        margin-bottom: 15px;
        font-size: 14px;
    }
    .section-facility .container .card .txt p{
        line-height: 20px;
    }
}