.section-placard{
    width: 100%;
    background-color: #EDE4D5;
    padding-bottom: 100px;
}
.section-placard .container{
    width: 1200px;
    margin: 0 auto;
}
.section-placard .container .card-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section-placard .container .card-group .card{
    width: 33.333333%;
    padding: 50px 30px 30px;
    margin: 0 12px;
    text-align: center;
}
.section-placard .container .card-group .card img{
    width: 100%;
    vertical-align: middle;
}
.section-placard .container .card-group .card .pic{
    width: 95px;
    height: 95px;
    margin: 0 auto;
    fill: #DBA33C ;
}
.section-placard .container .card-group .card .pic img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    
}
.section-placard .container .card-group .card .txt span{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #352D21;
    margin-top: 35px;    
}
.section-placard .container .card-group .card .txt span + span{
    margin-top: 5px;
}
.section-placard .container .card-group .card .txt p{
    font-size: 16px;
    color: #352D21;
    line-height: 25px;
    margin-top: 15px;    
}

@media screen and (max-width:768px) {
    .section-placard{
        padding-bottom: 50px;
    }
    .section-placard .container{
        width: 80%;
    }
    .section-placard .container .card-group .card{
        padding: 25px 15px 15px;
        margin: 0 5px;
    }
    .section-placard .container .card-group .card .pic{
        width: 50px;
        height: 50px;
    }

    .section-placard .container .card-group .card .txt span{
        font-size: 18px;
        margin-top: 20px;    
    }
    .section-placard .container .card-group .card .txt p{
        font-size: 12px;
        line-height: 20px;
    }
}
